@CHARSET "UTF-8";

.al {text-align:left!important;}
.ac {text-align:center!important;}
.ar {text-align:right!important;}
.cred {color:red!important;} 
.cgray {color:#9F9F9F!important;}

.form-horizontal .control-label {width:100px;}
.form-horizontal .controls {margin-left:120px;}
.form-horizontal .form-actions {padding-left:120px;}

.cd-container {padding-left:5px; padding-right:5px; margin-bottom:15px;}
.cd-navbar {position:fixed; top:0; left:0; right:0; z-index:999;}
.cd-sidebar {width:150px; margin-top:52px; z-index:998;}
.cd-entry {margin-left:165px; margin-top:52px;}

.quick-nav {border:1px solid rgba(0, 0, 0, 0.2); border:1px solid #CCC; padding-top:10px; padding-bottom:10px; -webkit-border-radius:6px; -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2); box-shadow:0 5px 10px rgba(0, 0, 0, 0.2); background-clip:padding-box; -webkit-background-clip:padding-box;}
.quick-nav > li > a {border:0; padding:5px 15px;}
.quick-nav > li > a:hover {border:1px solid #E5E5E5; padding:4px 14px;}
.quick-nav > .active > a:hover {border:0; padding:5px 15px;}
.cd-navbar .active a, .cd-navbar .active a:hover {color:white;}
.quick-nav .icon-chevron-right, .cd-navbar .icon-chevron-right {display:none; float:right;}
.quick-nav .active .icon-chevron-right, .cd-navbar .active .icon-chevron-right {display:inline-block; opacity:1; margin-top:2px; margin-right:-5px;}

.changelog {font-size:14px;}
.changelog li {margin:6px 0;}

table .column-label {width:150px; text-align:right;}
.table th.span-short-time, .table td.span-short-time {float:none; width:80px; margin-left:0;}
.red-star {color:red; font-size:18px; padding-top:30px;}
.weixin-form .wx-avatar, .weixin-form .wx-qrcode {width:50px; display:block;}
.post-form .post-content0 {width:620px; height:450px; resize:vertical;}
.post-form .post-content1 {width:620px; height:60px; line-height:30px; font-size:25px; resize:none;}
form .input-tip {margin-left:120px;}
.table-title {display:block; width:100%; padding:0; margin-bottom:10px; font-size:19.5px; line-height:30px; color:#333333;}
.table-title small {font-size:15px; color:#999999;}
.clipinner {position:relative;}
.clipboardswf {position:absolute; left:0; top:0;}
#qrcode-modal .qrcode img {margin:20px 0;}
#qrcode-modal .qrcode p {margin-top:10px;}

form.table-header {margin-bottom:10px;}
.total-stats {margin-bottom:20px;}
.popover.static {display:inline-block; position:static;}
.popover.popover-block {width:auto; display:block;}

.theme-thumbnails .thumbnail {position:relative;}
.theme-thumbnails form {margin:0; padding:0;}
.theme-thumbnails .caption {position:absolute; bottom:4px; left:4px; right:4px; background:rgba(0, 0, 0, .65);}
.theme-thumbnails .caption p {color:white;}

.config-table .config-name em {display:block;}


