@CHARSET "UTF-8";

header {background:black; overflow:hidden; margin-bottom:10px;}
header a {width:250px; height:60px; text-indent:-9999px; display:block;}
footer {font-size:12px; margin:10px 0 0; background-color:#333; color:#666666; padding:7px;}
footer a {display:block; color:#CCC; text-align:center;}

.cd-wrapper {background:#F2F2F2; margin:0; padding:0;}
.cd-container {margin:0 10px; line-height:24px;}
.cd-container .cd-title {font-size:20px; margin:5px 0 20px; line-height:20px;}
.cd-container .cd-line1px {height:1px; line-height:1px; font-size:0; background-color:#DFDFDF; margin:15px 0 10px;}
.cd-box-shadow {-webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2); box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2);}

/* post/show */
.cd-header {background:white; padding:10px 5px;}
.cd-content-box {margin:15px 0; padding:10px; background:white; overflow-x:hidden; border:solid 1px #D1D1D1; border-radius:8px; -webkit-border-radius:8px;}
.cd-post-content {font-size:16px; line-height:24px;}
.cd-post-content img {margin-left:auto; margin-right:auto;}
.cd-post-content p {line-height:24px; margin:5px 0 10px;}
.cd-post-content blockquote {padding: 10px; background:#EFEFEF; color:#555; font-size:14px; margin:15px 10px; border-radius:3px;}
.cd-post-content blockquote p {font-size:14px;}
.cd-post-content ul {margin:1px 0 15px 30px;}
.cd-post-content li {margin-bottom:5px; line-height:22px;}
.cd-post-content table {border-spacing:0; border-collapse:collapse; border:0; margin:10px 0;}
.cd-post-content table th, .cd-post-content table td {border:1px solid #CFCFCF; padding:5px;}

.cd-button-row {margin:15px auto 0; width:60%;}

/* more weixin */
.cd-more-weixin {margin:15px 0 0; background:white; padding:10px;}
.cd-avatar {display:inline-block; width:46px; margin:0; padding:3px; overflow:hidden; border-radius:26px; -webkit-border-radius:26px; border:1px solid #DFDFDF; box-shadow:1px 1px 1px #DFDFDF;}
.cd-avatar:active, .cd-more-weixin li img:active {opacity:.5;}
.cd-avatar img {width:100%; border-radius:23px; -webkit-border-radius:23px;}
.cd-more-weixin .cd-more-title {font-size:16px; font-weight:normal; border-bottom:1px dashed #DFDFDF; margin-bottom:10px;;}
.cd-more-weixin .cd-more-title span {font-size:12px; color:#9F9F9F; margin-left:5px;}
.cd-more-weixin dl {border-bottom:1px dashed #DFDFDF; padding:0; margin:10px 0 0; cursor:pointer; position:relative; height:64px;}
.cd-more-weixin .cd-wxname {position:absolute; top:0; left:70px; font-size:14px; font-weight:bold;}
.cd-more-weixin dd {position:absolute; top:25px; left:70px; color:#9F9F9F; line-height:14px; font-size:12px; margin:0;}
.cd-more-weixin .avatar {position:absolute; top:0; left:0;}

.cd-more-weixin li .avatar {position:static;}
.cd-more-weixin ul {list-style:none; margin:15px 0 0; padding:0;}
.cd-more-weixin li {display:block; float:left; text-align:center; width:25%; margin:0 0 7px; cursor:pointer;}
.cd-more-weixin li h4 {font-weight:normal; font-size:12px; line-height:18px; color:#555555; margin:0 5px; white-space:nowrap; overflow:hidden;}

.btn-focus {display:block; background:url(http://t2.qpic.cn/mblogpic/426c637092f06ffde172/2000) no-repeat center center; background-size:100% 100%; position:relative; height:64px; padding:0 15px;}
.btn-focus .cd-avatar {top:5px; left:10px; position:absolute;}
.btn-focus .cd-wxname {top:10px; left:75px; position:absolute; margin:0; font-size:14px; font-weight:bold; color:#555;}
.btn-focus .cd-wxid {top:35px; left:75px; position:absolute; margin:0; font-size:12px; color:gray;}
.btn-focus b {top:20px; right:10px; position:absolute; font-size:14px; color:#DFDFDF;}

