@CHARSET "UTF-8";

.feature, .changelog {width:490px;}
.feature .beta-alert, .changelog .beta-alert {height:360px;}










/* login form */
.login-form {padding-bottom:100px;}
.login-form .beta-control-group {margin:18px 0;}
.login-form .beta-control-group .beta-control-label {width:70px;}
.login-form .beta-controls label {font-size:12px;}
.login-form .beta-controls.agreement input, .login-form .beta-controls.rememberme input {margin-bottom:2px;}
.login-form .beta-controls.agreement label, .login-form .beta-controls.rememberme label {margin-left:5px;}
.login-form .suggestion {color:gray; font-size:12px; clear:both; margin-top:2px;}
.login-form .action-buttons {padding-left:90px;}
.login-form .action-buttons .beta-btn {padding:4px 18px;}
.login-form .refresh-captcha {font-size:12px;}
.quick-login-signup {margin-top:100px;}

/* error page */
.beta-error {color:gray;}
.beta-error .error-icon {font-size:200px; color:#BFBFBF; margin-right:20px; line-height:300px; font-weight:bold;}
.beta-error .error-detail {padding:40px 40px 0 0; line-height:24px;}

/* friend links */
.beta-links li {float:left; margin:5px 6px; width:93px; overflow:hidden;}
.beta-links li a {font-size:12px;}
.beta-links li img {width:81px; height:31px;}




